body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(#888888, #585858);
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.quiz-wrapper {
    display: flex;
}

.quiz-title {
    margin-left: 20px;
    padding: 30px;
    color: #ffffff;
    font-size: 250%;
}

.quiz-title span {
    color: #ff7d52;
}

.quiz-body {
    width: 50%;
    min-height: 497px;
    background-color: #ffffff;
    margin: 30px auto;
    border-radius: 10px;
    padding: 25px; 
}

.question-number h3 {
    color: #fd5820;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-bottom:  10px;
}

#question {
    font-size: 24px;
    color: #000000;
    padding: 15px 0;
    margin-bottom: 10px;
}

.options {
    margin-bottom: 15px;
}

.options div {
    background-color: #cccccc;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.options div:hover {
    background-color: #ccccccaf;
}

.options div.correct {
    color: #ffffff;
    background-color: green;
}

.options div.wrong {
    color: #ffffff;
    background-color: red;
}

.options div.disabled {
    pointer-events: none;
}

.button #btn-next {
    padding: 10px 50px;
    background-color: #fd5820;
    font-size: 18px;
    color: #ffffff;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-bottom: 15px;
}

.button #btn-next:hover, .quiz-over-modal .content button:hover {
    background-color: #ff7d52;
}

#answers-tracker {
    border-top: 1px solid #cccccc;
    padding-top: 15px;
}

#answers-tracker div{
    height:  40px;
    width: 40px;
    background-color: #cccccc;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

#answers-tracker div.correct {
    background-color: green;
}

#answers-tracker div.wrong {
    background-color: red;
}

.quiz-over-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}

.quiz-over-modal.active {
    display: flex;
}

.quiz-over-modal .content {
    background-color: #888888;
    padding: 30px;
    border-radius: 10px;
    flex-basis: 50%;
    color: #ffffff;
    text-align: center;
}

.quiz-over-modal .content h1 {
    font-size: 36px;
    margin: 0 0 20px;
}

.quiz-over-modal .content button {
    padding: 15px 50px;
    border: none;
    background-color: #fd5820;
    transition: all .2s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
}

@media  (max-width: 1024px) {
    .quiz-title {
        width: 50%;
        font-size: 150%;
    }
    .quiz-body {
        width: 70%;
        margin: 30px 20px;
        border-radius: 10px;
        padding: 25px; 
    }
}

@media  (max-width: 768px) {
    .quiz-title {
        text-align: center;
        width: 100%;
        margin-left: 0;
    }
    .quiz-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .quiz-body {
        width: 70%;
        margin: 30px 20px;
        border-radius: 10px;
        padding: 25px; 
    }
}